.diary-body {
    font-family: monospace !important;
}
.date-content {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.btn-entry:hover{
    color: #000000;
}
.ul {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    text-align: center; /* Center the image horizontally */
}

.image-container img {
    max-width: 100%; /* Ensure the image fits within the container's width */
    max-height: 400px; /* Set the maximum height as needed */
    display: block; /* Remove extra space beneath the image */
    margin: 0 auto; /* Center the image horizontally within the cell */
}


.control {
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 4px 11px;
  width: 100%;
  height: 30px;
  font-size: 0.87em;
  line-height: 25px;
  color: rgba(0,0,0,.80);
  background-color: #fff;
  background-image: none;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  transition: all .3s;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  margin: 5px;
}

.dot {
  margin-top: 25px;
  margin-right: 18px;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}